body {
    background-color: rgb(42, 42, 42);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

textarea {
    padding: 0.5rem;
    display: block;
    margin: 0.5rem auto;
    border-radius: 0.2rem;
    border: none;
    max-width: 100%;
    min-width: fit-content;
}

.input-textarea {
    width: 100%;
    min-height: 160px;
}

.textarea-div {
    margin: 1rem auto;
    width: 80%;
}

.team-textarea {
    min-height: 150px;
    width: 100%;
    field-sizing: content;
}

.basic-text {
    color: rgb(225, 225, 225);
    margin: 0.3rem 0;
}

.team-subdiv {
    width: 50%;
}

.team-div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn:hover {
    background-color: rgb(211, 211, 211);
}

.btn {
    width: 300px;
    height: 30px;
    max-width: 100%;
    padding: 0.1rem;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}

.btn-div {
    display: flex;
    justify-content: space-between;
}